body {
    overflow: hidden;
    margin: auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(to bottom,
            rgba(20, 70, 199, 1),
            rgba(97, 135, 233, 1));
    box-sizing: border-box;
}

/* main is the wrapper of the content in the web page  */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    margin: auto;
}


/* I used this card for both card in the screen */
#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
}


/* This is the title of the website h1 */
main h1 {
    text-align: center;
    color: aliceblue;
    font-size: 45px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


/* the paragraph that show the result */
/* #result {} */


#check-btn {
    height: 31px;
    width: 80px;
    border-radius: 4px;
    background: rgba(0, 119, 238, 1);
    border: 0;
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

#text-input {
    height: 30px;
    width: 250px;
    padding: 0 5px;
    border-radius: 4px;
    border: 1px solid rgba(166, 188, 218, 1);
}

#card p {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: rgba(53, 70, 101, 1);
}


#check-btn:hover {
    background-color: black;
}


#text-input:focus {
    border-color: rgba(53, 70, 101, 1);
}



@media (min-width: 576px) and (max-width: 767.98px) {
    main {
        width: 80%;
    }

    #text-input {
        width: 200px;
    }

    #card {
        width: 70%;
        box-sizing: border-box;
    }
}


@media (max-width: 576px) {
    main {
        width: 90%;
        /* background-color: white; */
    }

    #text-input {
        width: 200px;
    }

    #card {
        width: 80%;
    }

    #inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check-btn {
        margin: 15px;
    }

    main h1 {
        font-size: 30px;

    }
}